<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <div class="container">
      <form>
        <div>
          <h1 class="text-left">Habitual</h1>
        </div>
        <div class="form-group">
          <h1 class="text-center text-primary">Tasks</h1>
          <div class="input-group-prepend">
            <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
            <span class="input-group-text" (click)="addTodo(todo.value)">Add</span>
          </div>
          <div class="data">
            <ul class="list-instyled">
              <li *ngFor="let todo of todoArray">{{todo}}</li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
